body{
    background-color: rgba(243,244,246);
}

h4{
    margin: 0px;
    padding: 0px;
}

.global_container{
    margin-top: 100px;
}

.bttSubmit {
    background-color: #4E5166;
    color: white;
    height: 40px;
    width: 130px;
    border-radius: 40px; 
    &:hover {
        cursor: pointer;
        color: #4E5166; 
        background-color: #FFD7D7;
    }
}

.title{
    text-align: center;
}

img{
    object-fit: contain;
    max-width: 100%;
}