.header_logo{
  height: 50px;
  margin-left: 20px;
  @media (max-width: 875px) {
  margin: auto;
  }

}

.header_navContainer{
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color:white;
  align-items: flex-start;
  flex-direction: row;
    @media (max-width: 875px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 110px;
    }
}

.header_link{
  padding: 10px;
  color: $color-primary;
  text-decoration: none;
  font-size: 20px;
  height: 25px;
  margin: 10px;
    &:hover {
        cursor: pointer;
        color: $color-tertiary; 
        border-radius: 10px; 
        background-color: $color-secondary;
    }
    @media (max-width: 875px) {
      font-size: 15px;
    }
}

.header_navMenu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
