
.Post_container{
    width: 100%;
}

.Post_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: white;
    border: solid 1px black;
}

.Post_main{
    display: flex;
    background-color: white;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: solid 1px black;
}
.Post_main_time{
text-align: end;
}

.Post_commentCreat{
    width: 100%;
    height: 60px;
    background-color: white;
    border: solid 1px black;
}
.Post_comments{
    width: 100%;
    height: 40px;
    background-color: white;
    border: solid 1px black;
    display: flex;

}
.post_icone_like{
    width: 20px;
    height: 20px;
}