.creatPost_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFD7D7;
    border: solid 4px #FD2D01;
    border-radius: 25px;
    padding: 20px;
}

.creatPost_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.profil_pictureVue{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.creatPost_userNameText{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0px 20px 0px;
}
.creatPost_userName{
 font-size: larger;
 font-weight: bolder;
 text-align: center;
}

.creatPost_Text{
    width: 85%;
}
#creatPost_TextZone{
    width: 100%;
    height: 135px;
}