.container-profil{
    padding: 20px;
}

.profil_containerData{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;

}

.profil_data{
    margin: 20px;
    h4{
        font-size: 25px;
    }
}

.app_dial{
    text-align: center;
    display: flex;
    
}
.Post_button{
    width: 100%;
}