
.login_form-container{
    background-image: url("../../assets/ent.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    transform: translateY(25%);
    & li {
        list-style-type: none;
        padding: 10px;
        color: #FD2D01;
        font-size: 20px;
        text-align: center;
        &:hover {
        cursor: pointer;
        color: #4E5166; 
        border-radius: 30px; 
        background-color: #FFD7D7;
        }
    }
    @media (max-width: 875px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
    }

}
.img-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
    border: 1px solid  #FD2D01;
    padding: 20px;
    border-radius: 10px;
    @media (max-width: 875px) {
        padding: 5px;
        & ul{
            padding: 0px;
            display: flex;
            margin: 0px;
        }
    }
}

.login_img{
    width: 200px;
    @media (max-width: 875px) {
        display: none;
      }
  
}
.log-container{
    color: white;
    @media (max-width: 875px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        & form{
            display: flex;
            flex-direction: column;
            margin: auto;
            & p, br {
                display: none;
            }
            & .bttSubmit{
                margin-top: 10px;
            }
        }
    }
    h1, label{
        color: white;
        @media (max-width: 875px) {
            margin: 10px;
          }
        }
}
